{% extends "activity/base.html" %}
{% block title %}Create Activity{% endblock %}
{% block content %}
<div class="container" style="margin: auto; width: 80%;">
	<div class="row" >
		    	<h2>Acitivity 1</h2>
			    <h4>Description</h4>
			    <h6 class="sub_h5">This is Description For activity1.This is Description For activity1.This is Description For activity1.This is Description For activity1This is Description For activity1.This is Description For activity1.This is Description For activity1.This is Description For activity1This is Description For activity1.This is Description For activity1.This is Description For activity1.This is Description For activity1This is Description For activity1.This is Description For activity1.This is Description For activity1.This is Description For activity1This is Description For activity1.This is Description For activity1.This is Description For activity1.This is Description For activity1This is Description For activity1.This is Description For activity1.This is Description For activity1.This is Description For activity1This is Description For activity1.This is Description For activity1.This is Description For activity1.This is Description For activity1</h6>

			    <h4>Eligible Majors to participate</h4>
			    <h6 class="sub_h5">Any</h6>

			    <h4>Couta</h4>
			    <h6 class="sub_h5">5hours</h6>
			    
			    <h4>Duration</h4>
			    <h6 class="sub_h5">2~3</h6>
			    
			    <h4>Amount of Volunteers</h4>
			    <h6 class="sub_h5">10</h6>
			    
			    <h4>Place</h4>
			    <h6 class="sub_h5">St.PetersBurg</h6>
	</div>
	<div class="row">
		<a href="#">
			<input type="button" name="CheckIn" class = "btn btn-info" value="CheckIn" />
		</a>			
		<a href="#">
			<input type="button" name="Cancel" id = 'ActivityId' class = "btn btn-info" value="Cancel" />
		</a>
	</div>
</div>
{% endblock %}