#delete_message
{
	display:none;
	position:fixed;
	top:0px;
	left:35%;
	width:350px;
	height:100px;
	background-color:#5b5992;
	text-align:center;
}
#delete_message h2
{
	color:#0431B4;
}
#delete_message1
{
	display:none;
	position:fixed;
	top:0px;
	left:35%;
	width:350px;
	height:100px;
	background-color:#5b5992;
	text-align:center;
}
#delete_message1 h2
{
	color:#0431B4;
}
#delete,#cancel,#hide
{
	border:none;
	background:none;
	width:100px;
	height:40px;
	font-size:18px;
	border-radius:5px;
	border:2px solid white;
	margin:10px;
	color:#CED8F6;
}