{% extends "organizer/base.html" %}
{% block title %}Edit Organizer{% endblock %}
{% block content %}
	{% load widget_tweaks %}
	<div class="container">
		<form class = 'organizer_form' action="{% url 'organizer:modify' %}" method="post" enctype="multipart/form-data">
			<legend>Edit Organizer</legend>
			<div class="form-group">
				<label for="UserName">Name</label>
				{{ organizer_form.UserName|add_class:"form-control"|attr:"placeholder:Your Name"}}
			        {% if organizer_form.UserName.errors %}
			        <div class="alert alert-danger">
		            <strong>{{ organizer_form.UserName.errors}}</strong>
			        </div>
			        {% endif %}
			</div>
			<div class="form-group">
				<label for="FirstName">First Name</label>
				{{ organizer_form.FirstName|add_class:"form-control"|attr:"placeholder:First Name"}}
			</div>
			<div class="form-group">
				<label for="LastName">Last Name</label>
				{{ organizer_form.LastName|add_class:"form-control"|attr:"placeholder:Last Name"}}
			</div>
			<div class="form-group">
				<label for="name">email</label>
				{{ organizer_form.email|add_class:"form-control"|attr:"placeholder:Email"}}
			</div>
			<div class="form-group">
				<label for="name">Password</label>
				{{ organizer_form.password|add_class:"form-control"|attr:"placeholder:Password"}}
			</div>
			<div class="form-group">
				<label for="name">Confirm Password</label>
				{{ organizer_form.confirm_password|add_class:"form-control"|attr:"placeholder:Confirm Password"}}
				{% if organizer_form.password.errors %}
					<div class="alert alert-danger">
			            <strong>{{ organizer_form.password.errors }}</strong>
				    </div>
			    {% endif %}
				<!-- <input type="text" name="confirm_password" class="form-control" placeholder="Confirm Password"> -->
			</div>
			{{ organizer_form.organizer_id}}
			{% csrf_token %}
		
				<input type="submit" name="Modify" class = "btn btn-info" value="Modify" />
				<a href="javascript:history.back()">
					<input type="button" name="Cancel" class = "btn btn-info" value="Cancel" />
				</a>
			
		</form>
		
	</div>
	<script type="text/javascript">
        $(function () {
            $('#datetimepicker').datetimepicker();
        });
	</script>
{% endblock %}