{% extends "organizer/base.html" %}
{% block title %}Create Activity{% endblock %}
{% block content %}
	{% load widget_tweaks %}
	<div class="container">
		<form class = 'organizer_form' action="{% url 'organizer:save' %}" method="post" enctype="multipart/form-data">
			<legend>Create Organizer</legend>
			<div class="form-group">
				<label for="UserName">Name</label>
				{{ organizer_form.UserName|add_class:"form-control"|attr:"placeholder:Your Name"}}
				{% if organizer_form.UserName.errors %}
			        <div class="alert alert-danger">
		            <strong>{{ organizer_form.UserName.errors}}</strong>
			        </div>
		        {% endif%}
			</div>
			<div class="form-group">
				<label for="FirstName">First Name</label>
				{{ organizer_form.FirstName|add_class:"form-control"|attr:"placeholder:First Name"}}
			</div>
			<div class="form-group">
				<label for="LastName">Last Name</label>
				{{ organizer_form.LastName|add_class:"form-control"|attr:"placeholder:Last Name"}}
			</div>
			<div class="form-group">
				<label for="name">email</label>
				{{ organizer_form.email|add_class:"form-control"|attr:"placeholder:Email"}}
			</div>
			{% csrf_token %}
			<a href="#">
				<input type="submit" name="Create" class = "btn btn-info" value="Create" />
			</a>
			<a href="{% url 'account:login' %}">
				<input type="button" name="Cancel" class = "btn btn-info" value="Cancel" />
			</a>
		</form>
		
	</div>
	<script type="text/javascript">
        $(function () {
            $('#datetimepicker').datetimepicker();
        });
	</script>
{% endblock %}